a{
    text-decoration: none;
}

.nav{
    color:#222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.h1{
    color: #222222;; 
    font-size: 28px;
    line-height: 36px; 
    font-weight: bold;
}

.p{
    font-style: normal; 
    font-weight: 300;
     font-size: 18px; 
     line-height: 30px;
     color: #7D7987
}

.h2{
    color: coral; 
    font-style: normal; 
    font-weight: 700;
    font-size: 36px; 
    line-height: 80px;
}

.img {
    width: 500px; 
    height: 700px; 
    display: block; /* Устанавливаем как блочный элемент */
    margin: 0 auto; /* Центрируем изображение по горизонтали */
  }